body {
  background: url(~images/parfait_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: brightness(0.2);
}

.column .scrollable {
  background: rgba(0, 0, 0, .4);
}
