@media screen and (min-width: 631px) {
  body {
    background: url(~images/parfait_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.2);
    background-attachment: fixed;
  }

  .column .scrollable {
    background: rgba(0, 0, 0, .4);

    .empty-column-indicator {
      background: rgba(0, 0, 0, .4);
    }
  }
}
