@media screen and (min-width: 631px) {
  body::before {
    z-index: -1;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(~images/parfait_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(0.2);
  }

  .column .scrollable {
    background: rgba(0, 0, 0, .4);

    .empty-column-indicator {
      background: rgba(0, 0, 0, .4);
    }
  }

  .admin-wrapper {
    .sidebar-wrapper__inner {
      background: transparent;
    }

    .sidebar ul {
      & > a.selected,
      ul {
        background: transparent;
      }
    }
  }
}
