$skyblue: #87ceeb;
$pink: #ffc0fb;
$grey: #282c37;
$text-shadow-color: #888;
$ui-base-color: darken($grey, 5%);
$ui-primary-color: $skyblue;
$ui-secondary-color: $pink;
$primary-text-color: #fff;
$secondary-text-color: #d9e1e8;
$ui-highlight-color: darken($pink, 10%);

$white: #fff;

$font-sans-serif: 'mastodon-font-sans-serif', 'qdon-font-sans-serif' !default;
$font-display: 'mastodon-font-display' !default;
$font-monospace: 'mastodon-font-monospace' !default;
