@font-face {
  font-family: 'Mabinogi_Classic';
  src: url('~fonts/mabinogi/Mabinogi_Classic_OTF.otf') format('opentype');
  unicode-range: U+1-24f, U+ac00-d7af, U+3130-318f, U+3040-309f, U+30a0-30ff,
    U+e000-f8ff;
}

@font-face {
  font-family: 'Mabinogi_Classic';
  font-weight: bold;
  src: url('~fonts/mabinogi/Mabinogi_Classic_OTF.otf') format('opentype');
  unicode-range: U+1-24f, U+ac00-d7af, U+3130-318f, U+3040-309f, U+30a0-30ff,
    U+e000-f8ff;
}

@font-face {
  font-family: 'Mabinogi_Custom';
  src: url('~fonts/mabinogi/Mabinogi_Classic_OTF.otf') format('opentype');
  unicode-range: U+e000-f8ff;
}

@font-face {
  font-family: 'Mabinogi_Custom';
  font-weight: bold;
  src: url('~fonts/mabinogi/Mabinogi_Classic_OTF.otf') format('opentype');
  unicode-range: U+e000-f8ff;
}
