$background-transparent: rgba(0, 0, 0, 40%);

@media screen and (width >= 890px) {
  body::before {
    z-index: -1;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("~images/nao_cat_background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    filter: brightness(0.2);
  }

  .regeneration-indicator {
    background: $background-transparent;
  }

  .column .scrollable {
    background: $background-transparent;

    .empty-column-indicator {
      background: transparent;
    }
  }

  .detailed-status,
  .detailed-status__action_bar {
    background: inherit;
  }

  .admin-wrapper {
    .sidebar-wrapper__inner {
      background: transparent;
    }

    .sidebar > ul > li > a.selected,
    .sidebar ul ul {
      background: transparent;
    }
  }
}

@media screen and (width <= 1174px) {
  .columns-area__panels__pane--navigational .navigation-panel {
    background: $background-transparent;
  }
}

body.system-font {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    mastodon-font-sans-serif,
    sans-serif,
    'Mabinogi_Custom';
}
