// Fix button on modal dialog background color
.modal-root {
  .button {
    &:hover {
      background-color: lighten($ui-highlight-color, 5%);
    }

    &:active,
    &:focus {
      background-color: darken($ui-highlight-color, 5%);
    }
  }
}

// Change the background colors of modals
.actions-modal,
.boost-modal,
.confirmation-modal,
.mute-modal,
.block-modal,
.report-modal,
.report-dialog-modal,
.embed-modal,
.error-modal,
.onboarding-modal,
.compare-history-modal,
.report-modal__comment .setting-text__wrapper,
.report-modal__comment .setting-text,
.picture-in-picture__header,
.picture-in-picture__footer {
  background: $white;
}

// Change submit button
.simple_form button[type='submit']:not(.negative) {
  background: lighten($ui-primary-color, 15%);
}

a.status-link {
  color: $dark-blue;
}

// Fix menu color on single column;
.column-link--transparent {
  color: rgba($primary-text-color, 0.9);
}

html {
  // scrollbar-color: $ui-secondary-color rgba($ui-base-color, 0.1);
  scrollbar-width: thin;
}
