@import '../mastodon-light/diff';
@import '../qdon/diff';

:root {
  --rich-text-container-color: hsla(212deg, 80%, 60%, 100%);
  --rich-text-text-color: hsla(304deg, 100%, 60%, 100%);
  --rich-text-decorations-color: hsla(212deg, 100%, 65%, 100%);
}
