// Qdon colors
$skyblue: hsl(212deg, 100%, 70%);
$dark-blue: hsl(212deg, 100%, 55%);
$pink: hsl(304deg, 100%, 80%);
$grey: #282c37;
$text-shadow-color: #888;

// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #282c37;
$classic-primary-color: #9baec8;
$classic-secondary-color: #d9e1e8;
$classic-highlight-color: #6364ff;

$grey-600: #4e4c5a; // Trout
$grey-100: #dadaf3; // Topaz

// Differences
$success-green: lighten(#3c754d, 8%);

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #b0c0cf;
$ui-primary-color: $skyblue;
$ui-secondary-color: $pink;
$ui-highlight-color: darken($pink, 10%);

$ui-button-color: $white !default;
$ui-button-background-color: $dark-blue !default;
$ui-button-focus-background-color: darken($dark-blue, 15%) !default;

$ui-button-secondary-color: $grey-600 !default;
$ui-button-secondary-border-color: $grey-600 !default;
$ui-button-secondary-focus-color: $white !default;

$ui-button-tertiary-color: $dark-blue !default;
$ui-button-tertiary-border-color: $dark-blue !default;
$ui-button-tertiary-focus-background-color: darken($dark-blue, 15%) !default;
$ui-button-tertiary-focus-color: $white !default;

$primary-text-color: $black;
$secondary-text-color: $grey-600;
$darker-text-color: $classic-base-color !default;
$highlight-text-color: darken($ui-highlight-color, 8%) !default;
$dark-text-color: #444b5d;
$action-button-color: #606984;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #444b5d;

// Newly added colors
$account-background-color: $white !default;

// Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}

$emojis-requiring-inversion: 'chains';
